<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns: th="http://www.thymelef.org">
  <head>
    <meta charset="UTF-8">
    <link th:href="@{/form_assets/style.css}" rel="stylesheet"/>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">UserName</span>
            <input type="text" placeholder="Enter your Username" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="text" placeholder="Enter your password" required>
          </div>
          <div class="input-box">
            <span class="details">Firstname</span>
            <input type="text" placeholder="Enter your firstname" required>
          </div>
          <div class="input-box">
            <span class="details">Lastname</span>
            <input type="text" placeholder="Enter your lastname" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <span class="details">Dateofbirth</span>
            <input type="text" placeholder="Enter your Date of birth" required>
          </div>
          <div class="input-box">
            <span class="details">street</span>
            <input type="text" placeholder="Enter your street" required>
          </div>
          <div class="input-box">
            <span class="details">city</span>
            <input type="text" placeholder="Enter your city" required>
          </div>
          <div class="input-box">
            <span class="details">zipcode</span>
            <input type="text" placeholder="Enter your zipcode" required>
          </div>
          <div class="input-box">
            <span class="details">state</span>
            <input type="text" placeholder="Confirm your state" required>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>

</body>
</html>
